* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

#topPageImg {
  min-width: 100%;
  max-width: 100%;
  height: 20svh;
}

#navbar {
  max-width: 100%;
  height: 6svh;
  border: 4px ridge rgb(0, 0, 0);
  background-image: radial-gradient(rgb(213, 0, 0), rgb(0, 0, 0));
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  position: sticky;
  top: 0px;
}

button {
  background-color: transparent;
  border: none;
}

#pageBackground {
  background-image: url(./Pictures_Homepage/ds3_ashes_city.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#pageLayout {
  display: flex;
}

#reklameBoksLeft {
  width: 12%;
  max-height: 80svh;
}

#reklameBoksRight {
  width: 12%;
  max-height: 80svh;
}

#pageContent {
  background-image: url(./Pictures_Homepage/75xZ.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-position: top;
  background-size: contain;
  width: 70%;
  min-height: 80svh;
  max-height: 80svh;
}

#pillarLeft {
  width: 3%;
  background-image: radial-gradient(rgb(213, 0, 0), rgb(0, 0, 0));
  border: 4px ridge rgb(0, 0, 0);
}

#pillarRight {
  background-image: radial-gradient(rgb(213, 0, 0), rgb(0, 0, 0));
  border: 4px ridge rgb(0, 0, 0);
  width: 3%;
}

#footer {
  background-color: #222;
  width: 100%;
  height: 8rem;
}
