* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

#TopPageImg {
  min-width: 100%;
  max-width: 100%;
  height: 20svh;
}

#Navbar {
  max-width: 100%;
  height: 6svh;
  border: 4px ridge rgb(0, 0, 0);
  background-image: radial-gradient(rgb(213, 0, 0), rgb(0, 0, 0));
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  position: sticky;
  top: 0px;
}

button {
  background-color: transparent;
  border: none;
}

#PageBackground {
  background-image: url(./Pictures_Homepage/ds3_ashes_city.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#PageLayout {
  display: flex;
}

.reklameboks {
  width: 14%;
  max-height: 100svh;
  min-height: 100svh;
  background-color: rgba(157, 112, 112, 0.63);
}

#PageContent {
  background-image: url(./Pictures_Homepage/75xZ.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-position: top;
  background-size: contain;
  width: 76%;
  min-height: 80svh;
  max-height: 80svh;
}
