* {
  padding: 0px;
  margin: 0px;
}

#TopPageImg {
  max-width: 100svw;
  min-width: 100svw;
  max-height: 20svh;
}

#TopPageTitle {
  display: flex;
  justify-content: center;
}

#Navbar {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

p {
  margin: 3rem;
}
